.landinginfo {
    border: 1px solid blue;
}
.map-responsive iframe{
    left:20px;
    top:20px;
    bottom:0px;
    height:700px;
    width:100%;
    float:center;
    overflow:hidden;
    position:absolute;
    padding-bottom: 0px;
}

.table-responsive iframe{
  height:100%;
  width:100%;
}

.milkim{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  bottom:0px;
  height:50%;
  width:100%;
}


.map-left-justify{
  width: calc(50%);
  display: inline-block;
  float: left;
  height: 100%;


}
svg {fill:black; float:left}
.table-right-justify{
  width: 50%;
  float: right;

}

.transactions iframe{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  bottom:0px;
  height:1000px;
  width:100%;
}
